.footer__menu__nav {

    ul {
        position: relative;
        margin-top: -155px;
        opacity: 0;
        z-index: -1;
        transition: opacity 1s ease 0.3s, margin 0.5s ease;
    
        @media screen {
            @media (min-width: $screen-sm) {
                position: absolute;
                bottom: 20px;
                right: 20px;
                z-index: 1;
                opacity: 1;
            }
        }
    }

    &.is-open {

        ul {
            margin-top: 20px;
            z-index: 1;
            opacity: 1;
        }
    }
}