@import './footer-menu-nav.scss';
@import './footer-social-icons-box.scss';

footer {
    background-color: $gray;

    .footer__info {
        background-color: $gray;
    }

    p {
        color: $white;
    }
}