html {
	box-sizing: border-box;
}

.root {
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

a {
	text-decoration: unset;
    color: unset;
}

ul {
	list-style-type: none;
}

.div-test {
	background-color: red;
	height: 2000px;
}