@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

h2 {
    font-size: 30px;
    color: $eurekaOrange;
    line-height: 1.2;
    letter-spacing: -0.5px;
    margin-bottom: 12px;
}

h6 {
    font-size: 18px;
    color: $eurekaOrange;
}

p, label {
    font-size: 18px;
}

button {
    font-weight: bold;
}

