// Grid
$screen-xs: 425px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;

$container: 1024px;

// Colors
$eurekaOrange: #e67925;
$eurekaDarkOrange: #8f5020;
$eurekaBlue: #2B276B;
$eurekaRed: #BF0000;
$eurekaDarkRed: rgb(110, 15, 15);
$white: #fff;
$black: #000;
$gray: #303030;
$lightGray: #e0e0e0;
$mediumGray: #777777;
$eurekaLightBlue: #0681BF;
$eurekaDarkBlue: rgb(30, 28, 56);


@mixin eurekaGrad() {
    background: $eurekaDarkBlue;
    background: -moz-linear-gradient(left, $eurekaDarkBlue 0%, $eurekaLightBlue 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$eurekaDarkBlue), color-stop(100%,$eurekaLightBlue));
    background: -webkit-linear-gradient(left, $eurekaDarkBlue 0%,$eurekaLightBlue 100%);
    background: -o-linear-gradient(left, $eurekaDarkBlue 0%,$eurekaLightBlue 100%);
    background: linear-gradient(to right, $eurekaDarkBlue 0%,$eurekaLightBlue 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#{$eurekaDarkBlue}, endColorstr=#{$eurekaLightBlue})
}