@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?sc35jz');
  src:  url('./fonts/icomoon.eot?sc35jz#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?sc35jz') format('truetype'),
    url('./fonts/icomoon.woff?sc35jz') format('woff'),
    url('./fonts/icomoon.svg?sc35jz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], [class^="icon-"], [class*=" icon-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-atom:before {
  content: "\e900";
}
.icon-ball:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-book2:before {
  content: "\e903";
}
.icon-calculator:before {
  content: "\e904";
}
.icon-cell:before {
  content: "\e905";
}
.icon-chemical:before {
  content: "\e906";
}
.icon-chemical2:before {
  content: "\e907";
}
.icon-chemical3:before {
  content: "\e908";
}
.icon-clock:before {
  content: "\e909";
}
.icon-glasses:before {
  content: "\e90a";
}
.icon-hive:before {
  content: "\e90b";
}
.icon-magnifying:before {
  content: "\e90c";
}
.icon-pen:before {
  content: "\e90d";
}
