button {
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px 8px;
    margin: auto;
    font-size: 16px;
    color: $white;
    text-transform: uppercase;

    @media screen {
        @media (min-width: $screen-sm) {
            padding-top: 8px;
        }
    }

    &.button--blue {
        background-color: $eurekaBlue;

        span {
            color: $eurekaOrange;
        }

        &:hover {
            background-color: $eurekaDarkBlue;
        }
    }

    &.button--orange {
        background-color: $eurekaOrange;

        &:hover {
            background-color: $eurekaDarkOrange;
        }
    }

    &.button--red {
        background-color: $eurekaRed;

        &:hover {
            background-color: $eurekaDarkRed;
        }
    }

    &.button--gray {
        background-color: $mediumGray;

        &:hover {
            background-color: $gray;
        }
    }

    &.button--social {
        width: 100%;
        font-weight: unset;
        text-transform: unset;
        font-size: 18px;
        padding: 15px 15px 15px 66px;
        position: relative;
        margin-bottom: 20px;

        svg {
            position: absolute;
            height: 100%;
            width: 51px !important ;
            top: 0;
            left: 0;
            padding: 10px;
            border-radius: 5px 0 0 5px;
            font-size: 28px;
        }
    }

    &.button--facebook {
        background-color: #3b5998;

        svg {
            background-color: #253b80;
        }
    }

    &.button--google {
        background-color: #dd4b39;
        
        svg {
            background-color: #c3000d;
        }
    }
}