.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 2px solid $eurekaBlue;
    border-radius: 50%;

    &:after {
        content: "";
        position: absolute;
        display: none;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
    }

    &:hover {
        input {
            & ~ .checkmark {
                background-color: #ccc;
            }

            &:checked {
                & ~ .checkmark {
                    background-color: $eurekaLightBlue;
                }
            }
        }
    }
}