.hamburger {
    cursor: pointer;
    padding: 10px;
    border: 3px solid white;
    transition: all linear 0.15s;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;

    @media screen {
        @media (min-width: $screen-sm) {
            display: none;
        }    
    }

    .hamburger__outer {
        position: relative; 
        display: inline-block;
        width: 30px;
        height: 24px;

        .hamburger__inner {
            top: 2px;
            margin-top: -2px;
            width: 30px;
            height: 4px;
            background-color: white;
            border-radius: 4px;
            position: absolute;
            transition: transform ease 0.15s;

            &:before, &:after {
                @extend .hamburger__inner;
                content: "";
            }

            &:before {
                top: 14px;
                transition: all ease 0.15s;
            }

            &:after {
                top: 26px;
            }
        }   
    }

    &:hover {
        opacity: 0.7; 
    }

    &.is-open {
        .hamburger__inner {
            transform: translate3d(0, 12px, 0) rotate(45deg);

            &:before {
                transform: translate3d(-5.71429px, -6px, 0) rotate(-45deg) !important;
                opacity: 0;
            }

            &:after {
                transform: translate3d(0, -23px, 0) rotate(-90deg) !important;
            }
        } 
    }
}
