input {
    outline: none;

    &[type="text"], &[type="password"], &[type="number"] {
        border: 1px solid $eurekaOrange;
        padding: 10px;
        font-size: 14px;
        width: 100%;
        margin-bottom: 20px;
    }

    &[type="radio"], &[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        top: 0;
        left: 0;

        &:checked {
            & ~ .checkmark {
                background-color: $eurekaBlue;

                &:after {
                    display: block;
                }
            }
        }
    }
}