nav {

    ul {
        position: absolute;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
        transition: margin ease .5s;
        z-index: 4;
    
        li {
            display: block;
            margin-bottom: 20px;
            margin-right: 20px;
            cursor: pointer;
    
            @media screen {
                @media (min-width: $screen-sm) {    
                    display: inline-block;
                    margin-left: 20px;
                    margin-bottom: 0;
                }        
            } 
            
            &:last-child {
                margin-bottom: 0;
            }
    
            &:hover {
                color: $eurekaOrange;
            }
        }
    }
}