.header__signin {
    position: relative;
    margin-top: -168px;
    background-color: $eurekaOrange;
    transition: margin .5s ease;

    @media screen {
        @media (min-width: $screen-sm) {
            margin-top: -80px;
        }    
    }

    &.is-open {
        margin-top: 0;
    }

    form {
        display: flex;
        flex-wrap: wrap;

        @media screen {
            @media (min-width: $screen-sm) {
                flex-wrap: nowrap;
                justify-content: flex-end;
            }    
        }

        h2, p {
            display: none;
        }

        label {
            line-height: 2;
        }

        input {
            width: 100%;
            margin: -36px 0 10px 65px;
            padding: 10px;
            border: none;
            border-radius: 5px;

            @media screen {
                @media (min-width: $screen-sm) {
                    margin: 0 20px 0 10px;
                    max-width: 200px;
                }
            }
        }
        
        button {
            margin-bottom: 10px;
        }

        .button--submit {
            flex-grow: 1;
            margin: 0 50px 0 0;
            width: 100%;

            @media screen {
                @media (min-width: $screen-sm) {
                    max-width: 100px;
                }
            }
        }  

        .button--social {
            display: none;
        }
    }

    .button--close {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }   
}