.header__nav {

    ul {
        @include eurekaGrad();
        right: -255px;
        padding: 20px;
        transition: right ease 0.5s;
    
        @media screen {
            @media (min-width: $screen-sm) {
                display: flex;
                justify-content: flex-end;
                max-width: $container;
                margin: auto;
                bottom: 0px;
                right: 0;
                left: 0;
                background: none;
            }        
        } 
    }

    &.is-open {

        ul {
            right: 0px;
        }
    }
}