.header-user__nav {

    li {
        &.greetings {
            color: $eurekaOrange;
            text-transform: initial;
        }

        &.premium-call {
            color: $eurekaOrange;
        }
    }
}