.bubbles {
    display: none;
    position: relative;
    overflow: hidden;
    padding-top: none;
    width: 340px;
    height: 420px;

    &:last-child {
        @media screen {
            @media (min-width: $screen-sm) {
                display: initial;
            }    
        }
    }

    &:first-child {
        @media screen {
            @media (min-width: $screen-md) {
                display: initial;
            }    
        }
    }
    
    @keyframes floating {
        from { transform: translate(0,  0px); }
        65%  { transform: translate(0, 15px); }
        to   { transform: translate(0, -0px); }    
    }
    
    .bubble {
        border-radius: 50%;
        position: absolute;
        animation: floatingx 6s ease-in-out infinite;
        color: $white;
        
        &:before {
            position: relative;
        }
    
        
        &.light-green {
            background-color: #aece5c;
        }
    
        &.green {
            background-color: #11afa0;
        }
    
        &.pink {
            background-color: #f0526c;
        }
    
        &.yellow {
            background-color: #ffcd05;
        }
    
        &.purple {
            background-color: #887ab9;
        }
    
        &.blue {
            background-color: #43b5e8;
        }
    
        &.orange {
            background-color: #f78f1e;
        }
    
        &.xs {
            height: 25px;
            width: 25px;
        }
    
        &.sm {
            height: 50px;
            width: 50px;
        }
    
        &.md {
            height: 75px;
            width: 75px;
    
            &:before {
                font-size: 60px;
                top: 7px;
                left: 7px;
            }
        }
    
        &.lg {
            height: 100px;
            width: 100px;
    
            &:before {
                font-size: 80px;
                top: 10px;
                left: 14px;
            }
        }
    
        &.xg {
            height: 125px;
            width: 125px;
    
            &:before {
                font-size: 100px;
                left: 16px;
                top: 7px;
            }
        }
    
        &.xxg {
            height: 150px;
            width: 150px;
    
            &:before {
                top: 20px;
                left: 25px;
                font-size: 110px;
            }
        }
    
        &.blue{
            &.pen {
                &.xxg {
                    top: -30px;
                    left: 0;
                }
            }
        }
    
        &.pink {
            &.no-icon {
                &.xs {
                    top: 5px;
                    left: 155px;
                }
            }
        }
    
        &.orange {
            &.no-icon {
                &.sm {
                    top: 40px;
                    left: 200px;
                    z-index: 2;
                }
            }
        }
    
        &.light-green {
            &.clock {
                &.xg {
                    top: -50px;
                    left: 210px;
    
                    &:before {
                        font-size: 130px;
                        top: -3px;
                        left: 3px;
                    }
                }
            }
        }
    
        &.pink {
            &.magnifying {
                &.xg {
                    top: 80px;
                    left: 70px;
                }
            }
        }
    
        &.green {
            &.chemical {
                &.lg {
                    top: 115px;
                    left: 205px;
                }
            }
        }
    
        &.yellow {
            &.atom {
                &.lg {
                    top: 165px;
                    left: 15px;
                }
            }
        }
    
        &.purple {
            &.book {
                &.xxg {
                    top: 230px;
                    left: 95px;
                }
            }
        }
    
        &.blue {
            &.no-icon {
                &.sm {
                    top: 310px;
                    left: 260px;
                }
            }
        }
    
        &.light-green {
            &.chemical2 {
                &.md {
                    top: 330px;
                    left: 10px;    
                }
            }
        }
    
        &.orange {
            &.no-icon {
                &.xs {
                    top: 380px;
                    left: 260px;
                    z-index: 2
                }
            }
        }   
        
        &.green {
            &.ball {
                &.lg {
                    top: 15px;
                    left: 0px;  
                }
            }
        }
        
        &.pink {
            &.no-icon {
                &.sm {
                    top: 5px;
                    left: 130px;
                    z-index: 2;
                }
            }
        }
    
        &.yellow {
            &.calculator {
                &.xg {
                    top: -20px;
                    left: 215px;    
                }
            }
        }
    
        &.purple {
            &.no-icon {
                &.xs {
                    top: 150px;
                    left: 60px;
                }
            }
        }
    
        &.yellow {
            &.no-icon {
                &.md {
                    top: 90px;
                    left: 85px;
    
                }
            }
        }
    
        &.blue {
            &.cell {
                &.xg {
                    top: 80px;
                    left: 150px;
                }
            }
        }
    
        &.orange {
            &.glasses {
                &.xxg {
                    top: 180px;
                    left: 30px;
                }
            }
        }
    
        &.light-green {
            &.no-icon {
                &.sm {
                    top: 185px;
                    left: 190px;
                }
            }
        }
    
        &.purple {
            &.chemical3 {
                &.lg {
                    top: 125px;
                    left: 220px;
    
                }
            }
        }
    
        &.pink {
            &.book2 {
                &.lg {
                    top: 280px;
                    left: 210px;
    
                }
            }
        }
    
        &.green {
            &.hive {
                &.lg {
                    top: 310px;
                    left: 50px;
                    
    
                    &:before {
                        top: 7px;
                        left: 13px;
                    }
                }
            }
        }
    
        &.yellow {
            &.no-icon {
                &.sm {
                    top: 355px;
                    left: 270px;
                }
            }
        }
    }
}
