.register {
    max-width: 340px;
    margin: auto;

    .register__form {
        
        label {
            display: block;
            margin-bottom: 5px;
            color: $eurekaBlue;
        }
    
        .newsletter__radio {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
    
            label {
                color: $eurekaOrange;
                padding-left: 30px;
    
                &:first-child {
                    width: 100%;
                    color: $eurekaBlue;
                    margin-bottom: 5px;
                    padding: unset;
                }
            }
        }
    
        .userType__checkbox {
            margin-bottom: 20px;

            .checkbox {
                position: relative;

                label {
                    padding-left: 30px;
                }
            }
    
            .checkmark {
                border-radius: 0%;
    
                &:after {
                    border-radius: 0%;
    
                }
            }
        }
    
        button {
            width: 100%;
            
            &.button--submit {
                margin-bottom: 20px;
            }
        }
    
        p {
            font-size: 14px;
            line-height: 1;
            color: $eurekaBlue;
            text-align: center;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
    
            a {
                color: $eurekaOrange;
                cursor: pointer;
            }
    
        }
    }
}
