.social-icons {
        
    >svg {
        margin-right: 5px;
        font-size: 20px;
        color: white;
        cursor: pointer;

        &:last-child {
            margin-right: 0px;
        }
        
        &:hover {
            color: $eurekaOrange;
        }
    }
}