.try-banner {
    background-color: #ccecfc;
    background-image: url('./__links__/imgs/try-background.svg');

    .try-banner__container {
        display: flex;
        padding: 0;
 
        .try-banner__message {
            max-width: 340px;
            margin: auto;
            padding: 20px;
        
            h2 {
                text-transform: uppercase;
            }
        
            p {
                margin-bottom: 20px;
            }
        }
    }
}
