@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
html {
  box-sizing: border-box; }

.app {
  overflow: hidden; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

a {
  text-decoration: unset;
  color: unset; }

ul {
  list-style-type: none; }

.div-test {
  background-color: red;
  height: 2000px; }

h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900; }

h2 {
  font-size: 30px;
  color: #e67925;
  line-height: 1.2;
  letter-spacing: -0.5px;
  margin-bottom: 12px; }

h6 {
  font-size: 18px;
  color: #e67925; }

p, label {
  font-size: 18px; }

button {
  font-weight: bold; }

.container {
  position: relative;
  max-width: 1024px;
  padding: 20px;
  margin: auto; }

button {
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px 8px;
  margin: auto;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase; }

@media screen and (min-width: 768px) {
  button {
    padding-top: 8px; } }
  button.button--blue {
    background-color: #2B276B; }
    button.button--blue span {
      color: #e67925; }
    button.button--blue:hover {
      background-color: #1e1c38; }
  button.button--orange {
    background-color: #e67925; }
    button.button--orange:hover {
      background-color: #8f5020; }
  button.button--red {
    background-color: #BF0000; }
    button.button--red:hover {
      background-color: #6e0f0f; }
  button.button--gray {
    background-color: #777777; }
    button.button--gray:hover {
      background-color: #303030; }
  button.button--social {
    width: 100%;
    font-weight: unset;
    text-transform: unset;
    font-size: 18px;
    padding: 15px 15px 15px 66px;
    position: relative;
    margin-bottom: 20px; }
    button.button--social svg {
      position: absolute;
      height: 100%;
      width: 51px !important;
      top: 0;
      left: 0;
      padding: 10px;
      border-radius: 5px 0 0 5px;
      font-size: 28px; }
  button.button--facebook {
    background-color: #3b5998; }
    button.button--facebook svg {
      background-color: #253b80; }
  button.button--google {
    background-color: #dd4b39; }
    button.button--google svg {
      background-color: #c3000d; }

input {
  outline: none; }
  input[type="text"], input[type="password"], input[type="number"] {
    border: 1px solid #e67925;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px; }
  input[type="radio"], input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0; }
    input[type="radio"]:checked ~ .checkmark, input[type="checkbox"]:checked ~ .checkmark {
      background-color: #2B276B; }
      input[type="radio"]:checked ~ .checkmark:after, input[type="checkbox"]:checked ~ .checkmark:after {
        display: block; }

.logo {
  position: relative;
  margin-top: 16px;
  z-index: 9; }

.hamburger {
  cursor: pointer;
  padding: 10px;
  border: 3px solid white;
  transition: all linear 0.15s;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2; }

@media screen and (min-width: 768px) {
  .hamburger {
    display: none; } }
  .hamburger .hamburger__outer {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 24px; }
    .hamburger .hamburger__outer .hamburger__inner, .hamburger .hamburger__outer .hamburger__inner:before, .hamburger .hamburger__outer .hamburger__inner:after {
      top: 2px;
      margin-top: -2px;
      width: 30px;
      height: 4px;
      background-color: white;
      border-radius: 4px;
      position: absolute;
      transition: transform ease 0.15s; }
      .hamburger .hamburger__outer .hamburger__inner:before, .hamburger .hamburger__outer .hamburger__inner:after {
        content: ""; }
      .hamburger .hamburger__outer .hamburger__inner:before {
        top: 14px;
        transition: all ease 0.15s; }
      .hamburger .hamburger__outer .hamburger__inner:after {
        top: 26px; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-open .hamburger__inner, .hamburger.is-open .hamburger__outer .hamburger__inner:before, .hamburger.is-open .hamburger__outer .hamburger__inner:after {
    transform: translate3d(0, 12px, 0) rotate(45deg); }
    .hamburger.is-open .hamburger__inner:before {
      transform: translate3d(-5.71429px, -6px, 0) rotate(-45deg) !important;
      opacity: 0; }
    .hamburger.is-open .hamburger__inner:after {
      transform: translate3d(0, -23px, 0) rotate(-90deg) !important; }

nav ul {
  position: absolute;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  transition: margin ease .5s;
  z-index: 2; }
  nav ul li {
    display: block;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer; }

@media screen and (min-width: 768px) {
  nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0; } }
    nav ul li:last-child {
      margin-bottom: 0; }
    nav ul li:hover {
      color: #e67925; }

label {
  position: relative; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 2px solid #2B276B;
  border-radius: 50%; }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white; }
  .checkmark:hover input ~ .checkmark {
    background-color: #ccc; }
  .checkmark:hover input:checked ~ .checkmark {
    background-color: #0681BF; }

.header__signin {
  position: relative;
  margin-top: -170px;
  background-color: #e67925;
  transition: margin .5s ease; }

@media screen and (min-width: 768px) {
  .header__signin {
    margin-top: -80px; } }
  .header__signin.is-open {
    margin-top: 0; }
  .header__signin form {
    display: flex;
    flex-wrap: wrap; }

@media screen and (min-width: 768px) {
  .header__signin form {
    flex-wrap: nowrap;
    justify-content: flex-end; } }
    .header__signin form label {
      line-height: 2; }
    .header__signin form input {
      width: 100%;
      margin: -36px 0 10px 60px;
      padding: 10px;
      border: none;
      border-radius: 5px; }

@media screen and (min-width: 768px) {
  .header__signin form input {
    margin: 0 20px 0 10px;
    max-width: 200px; } }
    .header__signin form button {
      margin: 0; }
    .header__signin form .button--submit {
      flex-grow: 1;
      margin-right: 10px; }

@media screen and (min-width: 768px) {
  .header__signin form .button--submit {
    max-width: 100px; } }

.header__nav ul {
  background: #1e1c38;
  background: -moz-linear-gradient(left, #1e1c38 0%, #0681BF 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1e1c38), color-stop(100%, #0681BF));
  background: -webkit-linear-gradient(left, #1e1c38 0%, #0681BF 100%);
  background: -o-linear-gradient(left, #1e1c38 0%, #0681BF 100%);
  background: linear-gradient(to right, #1e1c38 0%, #0681BF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#1e1c38, endColorstr=#0681BF);
  right: -255px;
  padding: 20px;
  transition: right ease 0.5s; }

@media screen and (min-width: 768px) {
  .header__nav ul {
    display: flex;
    justify-content: flex-end;
    max-width: 1024px;
    margin: auto;
    bottom: 0px;
    right: 0;
    left: 0;
    background: none; } }

.header__nav.is-open ul {
  right: 0px; }

.header-user__nav li.greetings {
  color: #e67925;
  text-transform: initial; }

.header-user__nav li.premium-call {
  color: #e67925; }

.header__social-icons {
  position: absolute;
  top: 10px;
  right: 20px; }

header {
  position: relative;
  background: #1e1c38;
  background: -moz-linear-gradient(left, #1e1c38 0%, #0681BF 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1e1c38), color-stop(100%, #0681BF));
  background: -webkit-linear-gradient(left, #1e1c38 0%, #0681BF 100%);
  background: -o-linear-gradient(left, #1e1c38 0%, #0681BF 100%);
  background: linear-gradient(to right, #1e1c38 0%, #0681BF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#1e1c38, endColorstr=#0681BF); }

.social-icons > svg {
  margin-right: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer; }
  .social-icons > svg:last-child {
    margin-right: 0px; }
  .social-icons > svg:hover {
    color: #e67925; }

.try-banner {
  background-color: #ccecfc;
  background-image: url("./__links__/imgs/try-background.svg"); }
  .try-banner .try-banner__container {
    display: flex;
    padding: 0; }
    .try-banner .try-banner__container .try-banner__message {
      max-width: 340px;
      margin: auto;
      padding: 20px; }
      .try-banner .try-banner__container .try-banner__message h2 {
        text-transform: uppercase; }
      .try-banner .try-banner__container .try-banner__message p {
        margin-bottom: 20px; }

.bubbles {
  display: none;
  position: relative;
  overflow: hidden;
  padding-top: none;
  width: 340px;
  height: 420px; }

@media screen and (min-width: 768px) {
  .bubbles:last-child {
    display: initial; } }

@media screen and (min-width: 1024px) {
  .bubbles:first-child {
    display: initial; } }

@keyframes floating {
  from {
    transform: translate(0, 0px); }
  65% {
    transform: translate(0, 15px); }
  to {
    transform: translate(0, 0px); } }
  .bubbles .bubble {
    border-radius: 50%;
    position: absolute;
    animation: floatingx 6s ease-in-out infinite;
    color: #fff; }
    .bubbles .bubble:before {
      position: relative; }
    .bubbles .bubble.light-green {
      background-color: #aece5c; }
    .bubbles .bubble.green {
      background-color: #11afa0; }
    .bubbles .bubble.pink {
      background-color: #f0526c; }
    .bubbles .bubble.yellow {
      background-color: #ffcd05; }
    .bubbles .bubble.purple {
      background-color: #887ab9; }
    .bubbles .bubble.blue {
      background-color: #43b5e8; }
    .bubbles .bubble.orange {
      background-color: #f78f1e; }
    .bubbles .bubble.xs {
      height: 25px;
      width: 25px; }
    .bubbles .bubble.sm {
      height: 50px;
      width: 50px; }
    .bubbles .bubble.md {
      height: 75px;
      width: 75px; }
      .bubbles .bubble.md:before {
        font-size: 60px;
        top: 7px;
        left: 7px; }
    .bubbles .bubble.lg {
      height: 100px;
      width: 100px; }
      .bubbles .bubble.lg:before {
        font-size: 80px;
        top: 10px;
        left: 14px; }
    .bubbles .bubble.xg {
      height: 125px;
      width: 125px; }
      .bubbles .bubble.xg:before {
        font-size: 100px;
        left: 16px;
        top: 7px; }
    .bubbles .bubble.xxg {
      height: 150px;
      width: 150px; }
      .bubbles .bubble.xxg:before {
        top: 20px;
        left: 25px;
        font-size: 110px; }
    .bubbles .bubble.blue.pen.xxg {
      top: -30px;
      left: 0; }
    .bubbles .bubble.pink.no-icon.xs {
      top: 5px;
      left: 155px; }
    .bubbles .bubble.orange.no-icon.sm {
      top: 40px;
      left: 200px;
      z-index: 2; }
    .bubbles .bubble.light-green.clock.xg {
      top: -50px;
      left: 210px; }
      .bubbles .bubble.light-green.clock.xg:before {
        font-size: 130px;
        top: -3px;
        left: 3px; }
    .bubbles .bubble.pink.magnifying.xg {
      top: 80px;
      left: 70px; }
    .bubbles .bubble.green.chemical.lg {
      top: 115px;
      left: 205px; }
    .bubbles .bubble.yellow.atom.lg {
      top: 165px;
      left: 15px; }
    .bubbles .bubble.purple.book.xxg {
      top: 230px;
      left: 95px; }
    .bubbles .bubble.blue.no-icon.sm {
      top: 310px;
      left: 260px; }
    .bubbles .bubble.light-green.chemical2.md {
      top: 330px;
      left: 10px; }
    .bubbles .bubble.orange.no-icon.xs {
      top: 380px;
      left: 260px;
      z-index: 2; }
    .bubbles .bubble.green.ball.lg {
      top: 15px;
      left: 0px; }
    .bubbles .bubble.pink.no-icon.sm {
      top: 5px;
      left: 130px;
      z-index: 2; }
    .bubbles .bubble.yellow.calculator.xg {
      top: -20px;
      left: 215px; }
    .bubbles .bubble.purple.no-icon.xs {
      top: 150px;
      left: 60px; }
    .bubbles .bubble.yellow.no-icon.md {
      top: 90px;
      left: 85px; }
    .bubbles .bubble.blue.cell.xg {
      top: 80px;
      left: 150px; }
    .bubbles .bubble.orange.glasses.xxg {
      top: 180px;
      left: 30px; }
    .bubbles .bubble.light-green.no-icon.sm {
      top: 185px;
      left: 190px; }
    .bubbles .bubble.purple.chemical3.lg {
      top: 125px;
      left: 220px; }
    .bubbles .bubble.pink.book2.lg {
      top: 280px;
      left: 210px; }
    .bubbles .bubble.green.hive.lg {
      top: 310px;
      left: 50px; }
      .bubbles .bubble.green.hive.lg:before {
        top: 7px;
        left: 13px; }
    .bubbles .bubble.yellow.no-icon.sm {
      top: 355px;
      left: 270px; }

.footer__menu__nav ul {
  position: relative;
  margin-top: -155px;
  opacity: 0;
  z-index: -1;
  transition: opacity 1s ease 0.3s, margin 0.5s ease; }

@media screen and (min-width: 768px) {
  .footer__menu__nav ul {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    opacity: 1; } }

.footer__menu__nav.is-open ul {
  margin-top: 20px;
  z-index: 1;
  opacity: 1; }

.footer__social-icons {
  margin-top: 30px; }

footer {
  background-color: #303030; }
  footer .footer__info {
    background-color: #303030; }
  footer p {
    color: #fff; }

.register__form label {
  display: block;
  margin-bottom: 5px;
  color: #2B276B; }

.register__form .register__radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px; }
  .register__form .register__radio label {
    color: #e67925;
    padding-left: 30px; }
    .register__form .register__radio label:first-child {
      width: 100%;
      color: #2B276B;
      margin-bottom: 5px;
      padding: unset; }

.register__form .register__checkbox {
  margin-bottom: 20px; }
  .register__form .register__checkbox label {
    padding-left: 30px; }
  .register__form .register__checkbox .checkmark {
    border-radius: 0%; }
    .register__form .register__checkbox .checkmark:after {
      border-radius: 0%; }

.register__form button {
  width: 100%; }
  .register__form button.button-submit {
    margin-bottom: 20px; }

.register__form p {
  font-size: 14px;
  line-height: 1;
  color: #2B276B;
  text-align: center;
  margin-bottom: 20px; }
  .register__form p a {
    color: #e67925; }
